*{
    margin: 2px 0px;
    padding: 0px;
    scroll-behavior: smooth;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.logo{
    width: 50%;
}
.logo img{
    height:40px;
    width:110px;
    margin-left: 25%;
}
.links{
    width: 50%;
    margin-left: 330px;
    font-family: 'Bodoni MT', 'Courier New', Courier, monospace;
}
.links a{
    color: #0a0a0a;
    text-decoration: none;
    font-size: 23px;
    padding: 0px 25px;
}
.links a:hover{
    color:grey;    
}
.background-image{
    background: rgba(0,0,0,0.6)url("background.jpg");
    background-blend-mode: darken;
    height:100vh;
    width: 100%;
}
.text-section{
    color:white;
    padding: 23% 0px;
    font-size: 27px;
    text-align: center;
}
.text-section p{
    font-size: 35px;
    font-family: 'Dejavu Sans',' Bodoni MT', 'Arial', 'Helvetica', 'sans-serif' ;
    font-weight: bold;
    padding: 0px 200px;
}

.text-section a{
    text-decoration: none;
    color:white;
    font-size: 18px;
    font-style:italic ;
}
.text-section a:hover{
    text-decoration: underline;
    color:antiquewhite;
}
.about{
    text-align: center;  
}
h2{
    color: #139139;
    padding-top: 20px;
    font-size:30px;
}
.about p{
    padding:0px 80px;
    text-align: center;  
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif
}
.cards{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    padding-top: 40px;
    text-align: center;
}
.cards img{
    height: 140px;
    width: 336px;
}
.card-body{
    height:100%;
}
.card-body{
    height:100%;
    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', "Geneva", Verdana, sans-serif;
    /* bottom: 660px; */
}
.card1{
    width: 100%;
    /* padding-top: 340px; */
    height: 50%;
}
.card2{
    /* padding-top:140px; */
    width: 100%;
    height: 50%; 
}
.card2 p {
    padding: 0px 50px;
}

.awards{
    padding-top: 100px;
    text-align: center;
}
.trophies{
    display: flex;
    align-items: center;
    justify-content: center; 
    padding-top: 30px;
}
.trophies p{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
.trophies img{
    height:100px;
    width:100px;
}
.achievements{
    width: 20%;
    padding : 30px 20px;
}
.form{
    /* display:flex;
    justify-content: center; */
    text-align: center;
    background-color: rgb(238, 238, 238)
}

footer{
    height:70px;
    background-color: #10563C; 
    color:white;
    text-align:center;
}
.fa{
    padding: 10px;
    width:25px;
    text-indent: 2px;
    text-align: center;
    text-decoration: none;
    margin:2px 0px;
}
.fa:hover{
    opacity: 0.5;
}
.fa-facebook{
    background: #3B5998;
    color: white;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background:transparent;
}
.fa-twitter{
    background: #55ACEE;
    color: white;
    background:transparent;
}
.fa-instagram{
    background: #125688;
    background:transparent;
    color: white;
}



@media screen and (max-width:1140px){ 
     html, body {
        margin: 0px;
        padding: 0px;
        width: 100%;
        height: auto;
        overflow-x: hidden; 
    }
    .navbar{
        display: flex;
        align-items: center;
        justify-content: center;     
    }
    .logo{
        width: 50%;
    }
    .logo img{
        height:40px;
        width:110px;
        margin-left: 25%;
    }
    .links{
        width: 50%;
        margin-left: 330px;
        font-family: 'Bodoni MT', 'Courier New', Courier, monospace;
    }
    .links a{
        color: #0a0a0a;
        text-decoration: none;
        font-size: 23px;
        padding: 0px 25px;
    }
    .links a:hover{
        color:grey;    
    }
    .otherMedia-navbar{
        display: block;
    }
    .line{
        width: 35px;
        background-color: black;
        height: 5px;
        margin: 3px 3px;
    }
    .background-image{
        background: rgba(0,0,0,0.5)url("background.jpg");
        background-blend-mode: darken;
        background-size: cover;
        height: 100vh;
        width: 100%;
    }
    .text-section{
        color:white;
        text-align: center;
    }
    .text-section p{
        font-size: 30px;
        font-family: 'Dejavu Sans',' Bodoni MT', 'Arial', 'Helvetica', 'sans-serif' ;
        font-weight: bold;
        padding: 10vh 50px;  
    }
    /* .KnowMoreLink{
        position: relative;
         top: 20vh; 
    } */
    .text-section a{
        text-decoration: none;
        color:white;
        font-size: 25px;
        font-style:italic;
    }
    .text-section a:hover{
        text-decoration: underline;
        color:antiquewhite;
    }
    h2{
        color: #139139;
        margin-top: 20px;
        font-size: 25px;
        background-color: white;
    }
    .about{
        text-align: center; 
        margin-top: 20px;
    }
    .about p{
        padding:20px 40px;
        text-align: center;  
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif
    }
    
    .cards{
        display: flex;
        flex-direction: column;
        justify-content:center;
        text-align: center;
        align-items:center;
        height: fit-content;
    }
    .cards img{
        height: 150px;
        width: 300px;
    }
    .card-body{
        font-size: 17px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', "Geneva", Verdana, sans-serif;
        /* padding-bottom: 500px;; */
    }
     .card1{
        width: 100%;
        height: fit-content;
        margin-bottom: 35px; 
    }
    .card2{
        width: 100%;
    } 
    .card2 p {
        padding: 0px 30px;
    }
    .awards{
        padding-top: 10px;
    } 
    .trophies{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; 
    } 
    .trophies img{
        height: 150px;
        width: 150px;
        text-align: center;  
    }
    .trophies p{
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 20px;
        padding: 0px 50px;
    }
    .achievements{
        width: 100%;
        padding : 15px 10px
    } 

    /* .trophies p{
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 23px;
    }
     .left-align, .right-align{
        width: 100%;
        font-size: 30px;
        padding-bottom: 50px; 
        flex-direction: column-reverse;
    }  
    /* .left-align img{
        float:left;
        position: relative;
        left:50px;
        height:150px;
        width:150px;
    }
    .right-align img{
        float:right;
        position: relative;
        right:5%;
        height:150px;
        width:150px;
    } */
    /* .text-right{
        float:right;
        position:relative;
        padding: 0px 200px;
    } */
    
    .trophies h3{
        font-size: 25px;
        /* padding-top:30px; */
        text-align: center;
    }
    footer{
        height:70px;
        background-color: #10563C; 
        color:white;
        text-align: center;
    }
    
    .fa{
        padding: 10px;
        width:25px;
        text-indent: 2px;
        text-align: center;
        text-decoration: none;
        margin:2px 0px;
    }
    .fa:hover{
        opacity: 0.5;
    }
    .fa-facebook{
        background: #3B5998;
        color: white;
        font-weight: bold;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        background:transparent;
    }
    .fa-twitter{
        background: #55ACEE;
        color: white;
        background:transparent;
    }
    .fa-instagram{
        background: #125688;
        background:transparent;
        color: white;
    }
} 
